#main {
  height: 100vh;
  padding: 0;
}
#sidebar {
  height: 100vh;
  background-color: #d3d3d3;
}
#window {
  height: 80vh;
  position: relative;
}
#window #messages {
  position: absolute;
  bottom: 0;
  right: 0;
}
#messages {
  max-height: 100%;
  width: 100%;
  text-align: right;
  overflow: scroll;
  overflow-x: hidden;
}
#type_box {
  height: 20vh;
  background-color: #696969;
}